body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
.btn {
	padding: 4px 4px;
}



.detail-view
{
    float: left;
    width: 500px;
    margin: 5px;
    padding: 3px;
    -moz-box-shadow: inset 0 0 50px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 50px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 50px rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);

}

.detail-view dl
{
    margin: 10px 0;
    padding: 0;
    min-width: 0;
}
.detail-view dt, dd
{
    float: left;
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
}
.detail-view dt
{
    clear: left;
    padding: 0 5px 0 15px;
    text-align: right;
    opacity: 0.6;
    width: 100px;
}
.edit-buttons
{
    text-align: right;
    padding: 5px;
    min-width: 100px;
    border-top: 1px solid rgba(0,0,0,0.1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}