body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
.btn {
	padding: 4px 4px;
}



.detail-view
{
	
	float: left;
    position: relative;
    margin: -1px -1px 0 0;
}

.detail-view dl
{
    margin: 10px 0;
    padding: 0;
    min-width: 0;
}
.detail-view dt, dd
{
	float: left;
	margin: 0;
	padding: 3px;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
}
.detail-view dt
{
	color:#ffffff;
	background-color:#2e2e2e;
    padding: 3px 5px 3px 0;
    text-align: right;
    opacity: 0.6;
    width: 80px;
}
.detail-view dd
{	
    width: 160px;
}
.edit-buttons
{
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 200px;
    padding: 2px 2px 0 3px;
    background-color: rgba(0,0,0,0.1);
}
.edit-buttons .k-button
{
    width: 26px;
    margin-bottom: 1px;
}
