body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
.btn {
	padding: 4px 4px;
}



.detail-view
{
	clear: both;
    position: relative;
    margin: -1px -1px 0 0;
}
.detail-view .list-title
{
	padding: 8px 8px 8px 0px 
}
.detail-view ul
{
    margin: 0;
    padding: 0;
    min-width: 0;
}
.detail-view li
{
	float: left;
	width: 320px;
	margin: 0;
	padding: 1px;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
}
.detail-view li label
{
	float: left;
	color:#ffffff;
	background-color:#2e2e2e;
    padding: 3px 5px 3px 0;
    text-align: right;
    opacity: 0.6;
    width: 80px;
}
.detail-view dd
{	

}
.edit-buttons
{
    position: absolute;
    right: 0;
    width: 26px;
    height: 110px;
    padding: 2px 2px 0 3px;
    background-color: rgba(0,0,0,0.1);
}
.edit-buttons .k-button
{
    width: 26px;
    margin-bottom: 1px;
}
